/* 
селектор {
    свойство:значение;
}
*/

.logo {
    display: flex;
    justify-content: flex-start;
}

.link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}
#desc {
    margin-top: auto;
    margin-bottom: 0%;
}
.hat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.person {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.description{
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    padding-top: 0%;
}

.feedback {
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.fb1{
    padding-left: 15px;
}

body {
    color:rgb(0, 0, 0);
    background-color: white ;
}

a {
    text-decoration:none;
    color: rgb(0, 119, 255);

}