/* 
селектор {
    свойство:значение;
}
*/

.logo {
    display: flex;
    justify-content: flex-start;
}

.link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

.hat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.person {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.description{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.feedback {
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.fb1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
}

body {
    color:black
}

a {
    text-decoration: none;
    color: black;
}