/* 
селектор {
    свойство:значение;
}
*/
* {
    margin:0;
}
.logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
}

.link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    

}
header,footer {
    background-color: rgb(119, 192, 255);
    padding-top: 15px;
    
}

.hat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.person {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.description{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.feedback {
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.fb1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
}

body {
    color:black
}

a {
    text-decoration: none;
    border: 1px solid black;
    padding: 15px;
    color: black;
    background-color: white;
    transition: all 0.2s ease-in-out;
    border-radius: 15px;
}
a:hover {
    box-shadow: 1px 1px rgb(119,119,119), 2px 2px rgb(119,119,119), 3px 3px rgb(119,119,119);
    transform: translateX(-3px);
}
a:active {
    box-shadow: 0 3px 0 rgb(119,119,119);
    top: 3px;

}
.mode-button {
    border: 1px solid black;
    background-color: white;
    /* border: none; */
    cursor: pointer;
    /* font-size: 1rem; */
    padding: 15px;

    /* background-position: center; */
    transition: all 0.2s ease-in-out;
    border-radius: 15px;

}

.mode-button:hover {
    box-shadow: 1px 1px rgb(119,119,119), 2px 2px rgb(119,119,119), 3px 3px rgb(119,119,119);
    transform: translateX(-3px);
}
.mode-button:active {
    box-shadow: 0 3px 0 rgb(119,119,119);
    top: 3px;

}
.head-dark-mode, .footer-dark-mode {
    background-color: darkblue;
    color: rgb(255,255,255);
}
.main-dark-mode {
    background-color: rgb(119,119,119);
    color: rgb(255,255,255);
}
.a-dark-mode {
    background-color: rgb(119,119,119);
    color: rgb(255,255,255);
    border-color: white;
}
.mode-button-dark-mode {
    background-color: rgb(119,119,119);
    
    color: rgb(255,255,255);
    border-color: white;
}
.mode-button-dark-mode:active {
    box-shadow: 0 3px 0 #ffffff;
    top: 3px;

}
.mode-button-dark-mode:hover {
    box-shadow: 1px 1px rgb(255, 255, 255), 2px 2px rgb(255, 255, 255), 3px 3px rgb(255, 255, 255);
    transform: translateX(-3px);
}
.a-dark-mode:active {
    box-shadow: 0 3px 0 #ffffff;
    top: 3px;

}
.a-dark-mode:hover {
    box-shadow: 1px 1px rgb(255, 255, 255), 2px 2px rgb(255, 255, 255), 3px 3px rgb(255, 255, 255);
    transform: translateX(-3px);
}
/* .rewards {
    margin-bottom: 100px;
} */
header {
    padding-bottom: 10px;
}
main{
    padding-top: 1000px;
    padding-bottom: 1000px;
    padding-left: 15px;
    padding-right: 15px;
}
